<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inventory Курсовик</title>
<link rel="stylesheet" href="/style.css" />
<style>
</style>
</head>
<body>

	<h1>Choose your equipment!</h1>

	<form action="/gen" method=get>
		<input type="submit" name="button" value="Generate inventory" />
	</form>
	<form action="/send" method=get>

		<table id="table">
			<tr>
				<th>NAME</th>
				<th>CLASS</th>
				<th>ATT</th>
				<th>DEF</th>
			</tr>
			<tr th:each="item : ${player.getInventory().getItems()}">
				<td th:text="${item.getName()}"></td>
				<td th:text="${item.getType()}"></td>
				<td th:text="${item.getAttack()}"></td>
				<td th:text="${item.getDefense()}"></td>
				<td><input type="submit" name="choose"
					th:value="${item.getId()}"></td>
			</tr>

		</table>
	</form>
	<div th:unless="${player == null}">
		<div id="helm">
			<p th:text="${player.getHelm().getName()}">
		</div>
		<div id="armor">
			<p th:text="${player.getArmor().getName()}">
		</div>
		<div id="art">
			<p th:text="${player.getArt().getName()}">
		</div>

		<div id="weapon">
			<p th:text="${player.getWeapon.getName()}">
		</div>

		<div id="attack">
			Player Attack
			<p th:text="${player.getAttack()}">
		</div>
		<div id="defence">
			Player Defence
			<p th:text="${player.getDefence()}">
		</div>
	</div>

	<div id="presets"></div>
</body>
</html>


